@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&family=Poppins:wght@200&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
:root {
  --bg-black-900: #f2f2fc;
  --bg-black-100: #fdf9ff;
  --bg-black-50: #e8dfec;
  --text-black-900: #302e4d;
  --text-black-700: #504e70;
}

body.dark {
  --bg-black-900: #151515;
  --bg-black-100: #222222;
  --bg-black-50: #393939;
  --text-black-900: #ffffff;
  --text-black-700: #e9e9e9;
}

body {
  line-height: 1.5;
  font-size: 16px;
}

.section {
  background: var(--bg-black-900);
  min-height: 100vh;
  display: block;
  opacity: 1;
  padding: 0 30px;
}

.hidden {
  display: none !important;
}

.main-content {
  padding-left: 270px;
}

.container {
  width: 100%;
  margin: auto;
}

.section .container {
  padding-top: 60px;
  padding-bottom: 70px;
}

.section-title {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 60px;
}

.section-title h2 {
  font-size: 40px;
  color: var(--text-black-900);
  font-weight: 700;
  position: relative;
}

.section-title h2::before {
  content: "";
  height: 4px;
  width: 50px;
  background-color: rgb(255, 153, 0);
  top: 100%;
  left: 0;
  position: absolute;
}

.section-title h2::after {
  content: "";
  height: 4px;
  width: 25px;
  background-color: rgb(255, 153, 0);
  top: 100%;
  margin-top: 8px;
  left: 0;
  position: absolute;
}

.row {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.btn {
  font-size: 18px;
  font-weight: 500;
  padding: 12px 35px;
  background: rgb(255, 153, 0);
  color: white;
  border-radius: 40px;
  transition: all 0.3s ease;
}

.btn:hover {
  transform: scale(1.1);
}

.shadow-dark {
  box-shadow: 0 0 20px rgb(99, 98, 98);
}

.aside {
  width: 270px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  background: var(--bg-black-100);
  padding: 30px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  position: absolute;
  top: 50px;
}

.nav-taggler {
  height: 40px;
  width: 45px;
  border: 1px solid var(--bg-black-50);
  cursor: pointer;
  position: fixed;
  left: 300px;
  top: 20px;
  border-radius: 5px;
  background: var(--bg-black-100);
  display: none;
  align-items: center;
  justify-content: center;
}

.nav-taggler span {
  height: 2px;
  width: 18px;
  background-color: rgb(255, 153, 0);
  display: inline-flex;
  position: relative;
}

.nav-taggler span::before {
  content: "";
  height: 2px;
  width: 18px;
  background: rgb(255, 153, 0);
  position: absolute;
  top: -6px;
  left: 0;
}

.nav-taggler span::after {
  content: "";
  height: 2px;
  width: 18px;
  background: rgb(255, 153, 0);
  position: absolute;
  top: 6px;
  left: 0;
}

.nav a {
  color: var(--text-black-900);
  text-transform: uppercase;
  font-size: 16px;
}

.nav a.active {
  color: rgb(255, 153, 0);
}

.nav li {
  margin-bottom: 20px;
  font-weight: 600;
  color: var(--bg-black-900);
  padding: 5px 15px;
  border-bottom: 1px solid var(--bg-black-50);
}

.nav i {
  margin-right: 15px;
}

/*                    HOME                            */
.home {
  min-height: 100vh;
  display: flex;
  color: var(--text-black-900);
}

.home-info {
  flex: 0 0 60%;
  max-width: 60%;
  padding-right: 100px;
}

.home-img {
  flex: 0 0 40%;
  max-width: 40%;
}

.home-img::after {
  content: "";
  width: 50px;
  height: 50px;
  border-bottom: 10px solid sandybrown;
  border-right: 10px solid sandybrown;
  position: absolute;
  margin-top: 400px;
}

.home-img::before {
  content: "";
  width: 50px;
  height: 50px;
  border-top: 10px solid sandybrown;
  border-left: 10px solid sandybrown;
  position: absolute;
  margin-top: -40px;
  margin-left: -50px;
}

.home-img img {
  height: 400px;
}

h3.hello {
  font-size: 28px;
  margin: 15px 0;
}

h3.hello span {
  font-family: cursive;
  font-size: 30px;
  font-weight: 700;
  color: rgb(255, 153, 0);
}

h3.my-profession {
  font-size: 30px;
  margin: 15px 0;
}

.home-info p {
  margin-bottom: 70px;
  font-size: 20px;
  color: var(--text-black-700);
}

/*                    ABOUT                            */
.about .about-content {
  flex: 0 0 100%;
  max-width: 100%;
}

.about .about-content .about-text {
  flex: 0 0 100%;
  max-width: 100%;
}

.about .about-content .about-text h3 {
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: 700;
  color: var(--text-black-900);
}

.about .about-content .about-text h3 span {
  color: rgb(255, 153, 0);
}

.about .about-content .about-text p {
  font-size: 16px;
  line-height: 25px;
  color: var(--text-black-700);
}

.skill-percent {
  padding-top: 5px;
  color: var(--text-black-900);
}

.about .about-content .personal-info {
  flex: 0 0 60%;
  max-width: 60%;
  margin-top: 40px;
}

.about .about-content .personal-info .info-item {
  flex: 0 0 50%;
  max-width: 45%;
  padding-right: 60px;
}

.about .about-content .personal-info .info-item p {
  font-weight: 600;
  padding: 10px 0;
  font-size: 16px;
  color: var(--text-black-900);
  border-bottom: 1px solid var(--bg-black-50);
}

.about .about-content .personal-info .info-item p span {
  font-weight: 400;
  color: var(--text-black-700);
  margin-left: 4px;
  display: inline-block;
}

.about .about-content .personal-info .buttons {
  margin-top: 30px;
}

.about .about-content .personal-info .buttons .btn {
  margin-top: 10px;
  margin-right: 15px;
}

.about .about-content .skills {
  flex: 0 0 40%;
  max-width: 40%;
  margin-top: 40px;
}

.about .about-content .skills .skill-item {
  flex: 0 0 100%;
  max-width: 100%;
}

.about .about-content .skills .skill-item h5 {
  line-height: 40px;
  font-weight: 600;
  font-size: 16px;
  color: var(--text-black-900);
  text-transform: capitalize;
}

.about .about-content .skills .skill-item .progress {
  background-color: var(--bg-black-50);
  height: 7px;
  border-radius: 4px;
  width: 100%;
  position: relative;
}

.about .about-content .skills .skill-item {
  margin-bottom: 25px;
}

.about .about-content .skills .skill-item .progress .progress-in {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-radius: 4px;
  background-color: rgb(255, 153, 0);
}

.about .about-content .education,
.about .about-content .experience {
  flex: 0 0 50%;
  max-width: 50%;
  margin-top: 30px;
  padding-left: 35px;
}

.about .about-content h3.title {
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: 700;
  color: var(--text-black-900);
}

.about .about-content .timeline-box {
  flex: 0 0 100%;
  max-width: 100%;
}

.about .about-content .timeline {
  background-color: var(--bg-black-100);
  padding: 30px 15px;
  border: 1px solid var(--bg-black-50);
  border-radius: 10px;
  width: 100%;
  position: relative;
}

.about .about-content .timeline .timeline-item {
  position: relative;
  padding-left: 37px;
  padding-bottom: 50px;
}

.about .about-content .timeline .timeline-item:last-child {
  padding-bottom: 0;
}

.about .about-content .timeline .timeline-item::before {
  content: "";
  width: 1px;
  position: absolute;
  left: 7px;
  height: 100%;
  top: 0;
  background-color: rgb(255, 153, 0);
}

.about .about-content .timeline .circle-dot {
  position: absolute;
  left: 0;
  top: 0;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: rgb(255, 153, 0);
}

.about .about-content .timeline .timeline-date {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 12px;
  color: var(--text-black-700);
}

.about .about-content .timeline .timeline-date .fa {
  margin-right: 5px;
}

.about .about-content .timeline .timeline-title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 15px;
  text-transform: capitalize;
  color: var(--text-black-900);
}

.about .about-content .timeline .timeline-text {
  line-height: 25px;
  text-align: justify;
  color: var(--text-black-700);
}

/*                S E R V I C E                  */
.service .service-item {
  margin-bottom: 30px;
}

.service .service-item .service-item-inner {
  background-color: var(--bg-black-100);
  border: 1px solid var(--bg-black-50);
  border-radius: 10px;
  padding: 30px 15px;
  margin: 0 15px;
  transition: all 0.3s ease;
}

.service .service-item .service-item-inner .icon {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: block;
  text-align: center;
  margin: 0 auto 30px;
  transition: all 0.3s ease;
}

.service .service-item .service-item-inner .icon .fa {
  font-size: 40px;
  line-height: 60px;
  color: rgb(255, 153, 0);
  transition: all 0.3s ease;
}

.service .service-item .service-item-inner h4 {
  font-size: 18px;
  margin-bottom: 15px;
  color: var(--text-black-900);
  font-weight: 700;
  text-transform: capitalize;
}

.service .service-item .service-item-inner p {
  font-size: 18px;
  color: var(--text-black-700);
  line-height: 25px;
}

/*                    P O R T F O L I O                    */
.portfolio .container {
  padding-bottom: 40px;
}

.portfolio .portfolio-header {
  flex: 0 0 100%;
  max-width: 100%;
}

.portfolio .portfolio-header h2 {
  font-weight: 500;
  color: var(--text-black-900);
  margin-bottom: 40px;
  font-size: 25px;
}

.portfolio .portfolio-item {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  margin-bottom: 30px;
}

.portfolio .portfolio-item-inner {
  border: 6px solid var(--bg-black-100);
  border-radius: 10px;
  overflow: hidden;
  margin: 0 15px;
}

.portfolio .portfolio-item-inner .portfolio-img img {
  width: 100%;
  border-radius: 15px;
}

.portfolio .portfolio-item-inner .portfolio-button {
  align-items: center;
  display: flex;
}

.portfolio-item-inner-footer {
  background-color: var(--bg-black-100);
  padding: 0 10px;
}

.portfolio-item-inner-footer h3 {
  color: var(--text-black-900);
  font-weight: 600;
  font-size: 25px;
}

.portfolio-item-inner-footer span {
  font-family: "Poppins", sans-serif;
  color: var(--text-black-900);
}

.portfolio-item-inner-footer__tag {
  margin: 10px 0 25px 0;
  display: flex;
  color: var(--text-black-900);
}

.portfolio-item-inner-footer__tag .tag {
  font-size: 11px;
  padding: 1px 7px;
  margin-right: 5px;
  border: 1px solid var(--text-black-900);
  border-radius: 15px;
  margin-right: 10px;
  padding: 5px 15px;
  display: flex;
  align-items: center;
}

.portfolio-item-inner-footer__tag .tag-js {
  background-color: #FFB800;
  color: white;
  font-size: 15px;
  padding: 1px 7px;
  margin-right: 5px;
  border-radius: 15px;
  margin-right: 10px;
  padding: 5px 15px;
  display: flex;
  align-items: center;
}

.portfolio-button {
  margin-top: 70px;
  padding: 0 10px 10px 0;
}

.gray-btn {
  background-color: #b9bbbe;
  padding: 11px 14px;
  color: white;
  border-radius: 13px;
  font-weight: 600;
  cursor: pointer;
  margin-right: 10px;
}

.portfolio-button-orange {
  color: white;
  background-color: #FFB800;
  flex: 0 0 85%;
  max-width: 85%;
  display: flex;
  justify-content: center;
  border-radius: 13px;
  cursor: pointer;
  font-weight: 600;
}

.portfolio-button-orange span {
  padding: 7px 0;
}

/*                  C O N T A C T                      */
.contact-title {
  color: rgb(255, 153, 0);
  text-align: center;
  font-size: 25px;
  margin-bottom: 20px;
}

.contact-sub-title {
  color: var(--text-black-900);
  text-align: center;
  font-size: 20px;
  margin-bottom: 100px;
}

.contact-container {
  display: flex;
  margin: 0 auto;
  flex: 0 0 70%;
  gap: 50px;
}

.contact-info {
  display: block;
  flex: 0 0 50%;
  max-width: 50%;
}

.contact-info-item .icon {
  color: rgb(255, 153, 0);
}

.contact-info-item h3 {
  color: var(--text-black-900);
}

.contact-info-item span {
  color: var(--text-black-700);
}

.contact-input {
  flex: 0 0 50%;
  min-width: 50%;
  font-size: 18px;
}

.contact-info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 45px;
  font-size: 20px;
}

.contact-input .input {
  width: 100%;
  background-color: var(--bg-black-900);
  border: 3px solid white;
  border-radius: 10px;
  margin-bottom: 15px;
  height: 60px;
  padding-left: 20px;
  font-size: 20px;
  color: var(--text-black-700);
}

.textarea {
  background-color: var(--bg-black-900);
  border: 3px solid white;
  border-radius: 10px;
  margin-bottom: 15px;
  height: 60px;
  padding: 12px 20px;
  font-size: 20px;
  width: 100%;
  height: 150px;
}

.input-container {
  position: relative;
}

.input-container label {
  position: absolute;
  top: 40%;
  left: 25px;
  transform: translateY(-50%);
  pointer-events: none;
  z-index: 1000;
  transition: 0.5s;
}

.contact-info-item {
  background-color: var(--bg-black-100);
  border-radius: 5px;
  height: 120px;
  justify-content: center;
}

.textarea-label label {
  top: 0px;
  transform: translateY(50%);
}

.input-container span {
  position: absolute;
  top: 0;
  left: 25px;
  color: transparent;
  transform: translateY(-50%);
  pointer-events: none;
  z-index: 500;
}

.input-container span::before,
.input-container span::after {
  content: "";
  position: absolute;
  width: 10%;
  height: 5px;
  top: 60%;
  opacity: 0;
  background-color: white;
  transform: translateY(-50%);
  transition: 0.3s;
}

.input-container span::before {
  left: 50%;
}

.input-container span::after {
  right: 50%;
}

.input-container.focus label {
  top: 0;
  transform: translateY(-50%);
  left: 25px;
}

.input-container.focus span::before,
.input-container.focus span::before {
  width: 50%;
  opacity: 1;
}

/*                  S T Y L E - S W I T C H                      */
.style-switcher {
  position: fixed;
  font-size: 30px;
  right: 20px;
  top: 60px;
}

.s-icon {
  border: 1px solid var(--bg-black-50);
  border-radius: 50%;
  background-color: var(--bg-black-100);
  width: 40px;
  height: 40px;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.style-switcher .s-icon i {
  line-height: 37px;
}

@media (max-width: 1199px) {
  .aside {
    left: -270px;
  }
  .main-content {
    padding-left: 0;
  }
  .about .about-content .personal-info .info-item p ruby-span {
    display: block;
    margin-left: 0;
  }
  .portfolio-button-orange {
    flex: 0 0 80%;
    max-width: 80%;
  }
}
@media (max-width: 991px) {
  .about .about-content .education,
.about .about-content .experience {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .portfolio .portfolio-item, v .service .service-item {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .home-info {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .home .home-img {
    display: none;
  }
}
@media (max-width: 767px) {
  .about .about-content .skills,
.about .about-content .personal-info {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .contact-container {
    flex: none;
  }
}
@media (max-width: 700px) {
  .contact-input .input,
.textarea {
    flex: 0 0 70%;
    max-width: 70%;
    font-size: 15px;
  }
  .contact-info {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .contact-input {
    display: none;
  }
  .portfolio .portfolio-item {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .service .service-item {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (max-width: 500px) {
  .contact-input {
    display: none;
  }
  .contact-info {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .home .home-info .name {
    flex: 0 0 100%;
    max-width: 100%;
    word-break: break-word;
  }
  .about .about-content .personal-info .info-item {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .service .service-item {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .portfolio .portfolio-item {
    flex: 0 0 100%;
    max-width: 100%;
  }
}/*# sourceMappingURL=style.css.map */